* {
  margin: 0;
  padding: 0;
}

.balls {
  display: flex;

  justify-content: center;
  height: 100vh;
  align-items: center;
}
.balls ul {
  display: flex;
  /* border-bottom: 12px solid var(--Navbar); */
  opacity: .5;

  
}
.balls ul li {
  width: 70px;
  height: 70px;
  
  background-color: black;
  list-style: none;
  margin: 0 13px;
  border-radius: 50%;
  animation: bouncy 1s linear infinite;
}
@keyframes bouncy {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-250px);
  }
  100% {
    transform: translateY(0);
  }
}

.balls ul li:nth-child(1){
    animation-delay: .6s;
    animation-duration: 2.5;
    background-color: aqua;
}
.balls ul li:nth-child(2){
    animation-delay: .2s;
    animation-duration: 2.5;
    background-color: pink;
}
.balls ul li:nth-child(3){
    animation-delay: .8s;
    animation-duration: 2.5;
    background-color:var(--Navbar);
}
.balls ul li:nth-child(4){
    animation-delay: 0s;
    animation-duration: 2.5;
    background-color:lightgoldenrodyellow;
}
 .balls ul li:nth-child(5){
    animation-delay: .4s; animation-duration: 2.5;

    background-color:lightcoral;
}
