.Navbar ul {
  list-style: none;
  display: flex;

  flex-direction: row;

  justify-content: space-around;

  background-color: var(--Navbar);
  color: var(--Navbartext);

  /* padding: 7px; */
}

.Navbar {
  display: table;
  width: 100%;
}

.Navbar ul li {
  /* border: 1px solid black; */
  /* background-color: var(--libg); */
  text-align: center;
  padding: 1em 0em;
  font-size: larger;
  text-decoration: none;
}
.Navbar ul li:hover {
  color: var(--lihover);
}
.Navbar li.active {
  color: var(--liactive);
}
.newsli NavLink{
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight:900;
  font-size:small;
}